{% load static %}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-select.css' %}">
	<link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700' rel='stylesheet' type='text/css'/>
	<link href='{{ STATIC_URL }}css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/camera.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <!--script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script-->	
	<title>{{ title_shop }}</title>
</head>
<body>
<div class="page-container" style="background:{{ BG_COLOR}};">
    <div class="header">
			<nav class="navbar container">
		
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
					<a href="{% url 'home' %}" class="navbar-brand">
						<img src="" alt="" width="1" height="1"><span>{{title_shop}}</span>
				</a>
			  </div>
  
                 
                 <div class="navbar-collapse collapse navbar-right">

					<ul class="nav navbar-nav">

                      <li class=""><a href="{% url 'home' %}">Главная</a></li>
					 
                      <li><a href="{% url 'contacts' %}" class="ajax_right">Контакты</a></li>
					  <li><a href="{{SECOND_SITE_URL}}" class="ajax_right">{{SECOND_SITE_NAME}}</a></li>
<!--					  <li><a href="" class="ajax_right">Статьи</a></li>-->
                    </ul>

                    <ul class="nav navbar-right cart">
                      <li class="dropdown">
					<a href="cart.html" class="dropdown-toggle" data-toggle="dropdown"><span>{{ cart|length }}</span></a>
					<div class="cart-info dropdown-menu">
						<table class="table">
							<thead>
							</thead>
							<tbody>
								{% for pr in cart %}
								<tr>
									<td class="image"><img alt="IMAGE" class="img-responsive" src="{{ pr.image }}"></td>
									<td class="name"><a href="/{{ pr.id }}/">{{ pr.name }}</a></td>
									<td class="quantity">x&nbsp;{{ pr.count }}</td>
									<td class="total">{{ pr.price }}</td>
									<td class="remove"><a onclick="removeCart('{{ pr.id }}');" href="">убрать</a></td>
								</tr>
								{% endfor %}
							</tbody>									
						</table>
						<div class="cart-total">
							<input type="hidden" id="csrf" value="{{ csrf_token }}">
						  <table>
							 <tbody>
								<tr>
								  <td>Общая цена:&nbsp;</td>
								  <td>{{ general_price }} руб.</td>
								</tr>
							</tbody>
						  </table>
						  <div class="checkout"><a href="{% url 'cart' %}" class="ajax_right">Посмотреть корзину</a> | <a href="{% url 'checkout' %}" class="ajax_right">Оформить заказ</a></div>
						</div>
					</div> 
			      </li>
			     </ul>

                  
					 
                  </div><!-- /.navbar-collapse -->
			</nav>		
		</div>
		
	{% block content %}



	{% endblock %}


	<div class="footer black">
		<div class="container">
			<!-- div class="arrow"><b class="caret"></b></div -->
		    <div class="row">
		        <div class="col-md-3">
					<div>
			        <h3>Информация</h3>
				        <ul>
					        <li><a href="{% url 'about' %}">О нас</a></li>
						    <li><a href="">Оставить заявку</a></li>
					    </ul>
					  </div>
				</div>


				<div class="col-md-3">
				</div>

				
				<div class="col-md-6 social">
					<div class="copy">Copyright &copy; arzaev_dev</div>
					<ul class="social-network">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						<li><a href=""><i class="fa fa-pinterest"></i></a></li>
						<li><a href=""><i class="fa fa-rss"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>	
					</ul>
				</div>

		    </div>	
	</div>
	</div>	
</div>
{% block js %}
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/camera.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sapphire.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cloud-zoom.1.0.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script>
		$(document).ready( function()
		{	
			jQuery('#slideshow0 > div').camera({
			alignment:"center",
			autoAdvance:true,
			mobileAutoAdvance:true,
			barDirection:"leftToRight",
			barPosition:"bottom",
			cols:6,
			easing:"easeInOutExpo",
			mobileEasing:"easeInOutExpo",
			fx:"random",
			mobileFx:"random",
			gridDifference:250,
			height:"auto",
			hover:true,
			loader:"pie",
			loaderColor:"#eeeeee",
			loaderBgColor:"#222222",
			loaderOpacity:0.3,
			loaderPadding:2,
			loaderStroke:7,
			minHeight:"200px",
			navigation:true,
			navigationHover:true,
			mobileNavHover:true,
			opacityOnGrid:false,
			overlayer:true,
			pagination:true,
			pauseOnClick:true,
			playPause:true,
			pieDiameter:38,
			piePosition:"rightTop",
			portrait:false,
			rows:4,
			slicedCols:12,
			slicedRows:8,
			slideOn:"random",
			thumbnails:false,
			time:7000,
			transPeriod:1500,				
			imagePath: '../image/'
		});
	});
	</script>
<script>
$.fn.CloudZoom.defaults = {
	zoomWidth:"auto",
	zoomHeight:"auto",
	position:"inside",
	adjustX:0,
	adjustY:0,
	adjustY:"",
	tintOpacity:0.5,
	lensOpacity:0.5,
	titleOpacity:0.5,
	smoothMove:3,
	showTitle:false};

jQuery(document).ready(function()
{
    $('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
    })
});
</script>
{% endblock %}
</body>
</html>
