{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

		<div class="row">
		    <div class="col-md-12">
			    <div class="breadcrumbs">
				    <ul class="breadcrumb shadow p-3 mb-5 bg-white rounded">
                        <li><a href="/">Главная</a> <span class="divider"></span></li>
                        <li class="active">Контакты</li>
                    </ul>
				</div>
			</div>
		</div>
		<input type="hidden" id="csrf" value="{{ csrf_token }}">
	<div class="row ">
		    <div class="col-md-12 ">
			    <div class="location shadow p-3 mb-5 bg-white rounded">

					<div class="find-widget">
                 <span style="font-size: 10px">Организация:</span>  <span>{{BUISNESS_COMPANY_NAME}}</span>
                </div>
                <div class="find-widget">
                 <span style="font-size: 10px">Адрес:</span> <span>{{BUISNESS_ADDRESS}}</span>
                </div>
                <div class="find-widget">
                  <span style="font-size: 10px">Телефон:</span>  <span>{{BUISNESS_PHONE}}</span>
                </div>
					<div class="find-widget">
                  <span style="font-size: 10px">Email:</span>  <span>{{BUISNESS_EMAIL}}</span>
                </div>
					</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Обратная связь</h2>
			</div>
				<div class="col-md-12">
					<div class="contact_form shadow p-3 mb-5 bg-white rounded">
						<form>
							<fieldset class="form-group">
								<label>Имя<span class="required">*</span></label>
								<input type="text" placeholder="" class="form-control" id="nameForm">
								<label>Email<span class="required">*</span></label>
								<input type="text" placeholder="" class="form-control" id="emailForm">
								<label>Телефон<span class="required">*</span></label>
								<input type="text" placeholder="" class="form-control" id="phoneForm">
							</fieldset>
						</form>
						<div class="form-group">
							<label>Сообщение<span class="required">*</span></label>
							<textarea rows="3" class="form-control" id="messageForm"></textarea>
						</div>
						<p class="form-group">
							<button class="btn btn-primary" type="button" onclick="askQuestion();">Отправить</button>
						</p>
					</div>
				</div>

			</div>


		<div class="row">
		    <div class="col-md-12">
				<h2>Наше местоположение</h2>
			</div>
		</div>
        <div class="row">
		    <div class="col-md-12">
			    <div id="map ">
					{{MAP_YANDEX_CODE|safe}}
                </div>
			</div>
		</div>
	<br>




	</div>

{% endblock content %}
{% block js %}
{{block.super}}
<script type="text/javascript" src="{% static 'js/contacts.js' %}"></script>
{% endblock js %}