
{% extends 'base.html' %}

{% block content %}
<div class="container">
		<div class="cold-md-6">{% include 'pagination_home.html' %}</div>
		<div class="row">

		    <div class="col-md-3 left-menu">
				<div class="">
					{% for category in categories %}
					<h3>{{ category.category_name }}</h3>
					<ul>
						{% for subcategory in category.productsubcategory_set.all %}
						<li><a href="">{{ subcategory }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
			</div>

		<div class="col-md-9">

		<div class="row">
		    {% for product in pages %}
			<div class="col-md-4">
			    <div class="product">
				    <a href="product.html"><img alt="dress1home" src="{{ product.main_image.url }}" width="200" height="200"></a>
					<div class="name">
				    <a href="product.html">{{ product.name }}</a>
				    </div>
				    <div class="price">
				    <p>{{ product.price }} р</p>
				    </div>
				</div>
			</div>
			{% endfor %}






		</div>

		</div>

	   </div>


	 </div>
{% endblock %}