
{% extends 'base.html' %}

{% block content %}
<div class="container">
		<div class="row">

		    <div class="col-md-3 left-menu">
				<div class="">
					{% for category in view.get_categories %}
					<h3><a href="{% url 'filter' %}?category={{ category.id }}">{{ category.category_name }}</a></h3>
					<ul>
						{% for subcategory in category.productsubcategory_set.all %}
						<li><a href="{% url 'filter' %}?category={{ category.id }}&subcategory={{ subcategory.id }}">{{ subcategory }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
			</div>

		<div class="col-md-9">

		<div class="row">
		    {% for product in product_list %}
			<div class="col-md-4">
			    <div class="product">
				    <a href="/{{ product.id }}/"><img alt="dress1home" src="{{ product.main_image.url }}" width="200" height="200"></a>
					<div class="name">
				    <a href="/{{ product.id }}/">{{ product.name }}</a>
				    </div>
				    <div class="price">
				    <p>{{ product.price }} р</p>
				    </div>
				</div>
			</div>
			{% endfor %}

			<div class="col-md-12">
				{% include 'pagination.html' %}
			</div>







		</div>

		</div>

	   </div>


	 </div>


{% endblock %}

{% block js %}

{% endblock %}