
{% extends 'base.html' %}

{% block content %}
<div class="container">
		<div class="row">

		    <div class="col-md-3 left-menu shadow p-3 mb-5 bg-white rounded">
				<div class="">
					{% for category in view.get_categories %}
					<h3><a href="{% url 'filter' %}?category={{ category.id }}">{{ category.category_name }}</a></h3>
					<ul>
						{% for subcategory in category.productsubcategory_set.all %}
						<li><a href="{% url 'filter' %}?category={{ category.id }}&subcategory={{ subcategory.id }}">{{ subcategory }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
			</div>

		<div class="col-md-9">

		<div class="row ">
		    {% for product in product_list %}
			<a href="/{{ product.id }}/">
			<div class="col-md-{{ MD_LIST_PRODUCTS }} ">

			    <div class="product shadow p-3 mb-5 bg-white rounded">
					<img alt="dress1home" src="{{ product.main_image.url }}">
					<div class="name">

				    </div>

				    <div class="price">
					<span class="_3J74XsK _3WEsAhb">{{ product.name }} {{ product.short_description }}</span>
				    <span class="qU9n4CQ">{{ product.price }} р</span>
				    </div>
				</div>

			</div>
				</a>
			{% endfor %}

			<div class="col-md-12">
				{% include 'pagination.html' %}
			</div>







		</div>

		</div>

	   </div>


	 </div>


{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}